<strong>Olá {{ student }}</strong>
<p>{{ mailText }}</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />

  <small>Este e-mail é enviado automaticamente.</small>
</p>
