<strong>Olá {{ student }}</strong>
<p>Sua matricula foi ativada ou alterada:</p>
<p>
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de finalização: </strong> {{ end_date }} <br />
  <strong>Preço total: </strong> {{ price }} <br />
  <br />

  <small>Este e-mail é enviado automaticamente.</small>
</p>
